<section class="mx-7 shadow mt-1 rounded-md py-10 hidden sm:block">
  <div class="flex">
    <div class="pr-44 py-9">
      <h2 class="py-4 font-semibold mx-5 text-2xl whitespace-nowrap">
        {{ text_h2 }}
      </h2>
      <a
        class="mx-5 hover:underline transition-all 0.8s text-lg hover:text-blue-700"
        href="#"
        >{{ text_anchor }}</a
      >
    </div>
    <div class="w-full flex justify-center items-center">
      <img class="w-7/12" [src]="image_text" alt="error" />
    </div>
  </div>
</section>
