.bg-bc6c25 {
  background-color: #ffffff;
}
.link_hover:hover {
  outline: 1px solid black;
  border-radius: 5px;
  background-color: #f8edeb;
  transition: ease-in-out 0.3s;
}
.button-hover {
  border: 1px solid red;
  color: #b71c1c;
}
.button-hover:hover {
  outline: 1px solid red;
  background-color: #ffcdd2;
  color: #b71c1c;
}
.common-border {
  border: 1px solid black;
}
