<section>
  <div class="relative">
    <div class="">
      <img
        class="flex mx-auto w-full"
        src="https://img-c.udemycdn.com/notices/home_carousel_slide/image/f47cd402-a9fb-4411-ac3a-247085be113f.jpg"
        alt="Error"
      />
    </div>
    <div
      class="shadow bg-white py-10 px-10 absolute left-20 top-20 hidden sm:block"
    >
      <div>
        <h1 class="font-bold font-serif text-2xl my-3">
          Build ready-for-anything teams
        </h1>
        <p class="my-3 text-lg">
          See why leading organizations choose to learn with Udemy Business.
        </p>
        <button
          class="my-3 px-5 mt-6 py-3 font-semibold text-white cursor-pointer flex items-center bg-gray-700"
        >
          Learn More.&nbsp;<fa-icon [icon]="right"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="mt-5">
  <div class="mx-6">
    <h1 class="text-2xl my-3 font-semibold">Earn Your Degree</h1>
    <div
      class="boxes-container grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-4"
    >
      <div
        *ngFor="let item of boxData"
        class="hover:shadow-lg py-6 px-3 rounded-xl shadow-md border 1px solid black cursor-pointer"
      >
        <div class="common-border rounded-md">
          <img
            class="w-full rounded-md"
            [src]="item.image"
            [alt]="item.companyName"
          />
        </div>
        <h2 class="flex items-center text-xl font-bold my-2">
          <img
            class="w-8"
            [src]="item.logo"
            [alt]="item.companyName"
          />&nbsp;&nbsp;
          {{ item.companyName }}
        </h2>
        <h3 class="my-2">{{ item.courseName }}</h3>
        <a class="hover:text-blue-600 underline" [href]="item.link">{{
          item.linkName
        }}</a>
        <p class="my-2">{{ item.degree }}</p>
      </div>
    </div>
  </div>
</section>
<section class="mt-5">
  <div class="mx-6">
    <h1 class="text-2xl my-3 font-semibold">Most Popular Certificates</h1>
    <div
      class="boxes-container grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-4"
    >
      <div
        *ngFor="let item of certifications"
        class="hover:shadow-lg py-6 px-3 rounded-xl shadow-md border 1px solid black cursor-pointer"
      >
        <div class="common-border rounded-md">
          <img
            class="w-full rounded-md"
            [src]="item.image"
            [alt]="item.course"
          />
        </div>
        <h2 class="flex items-center text-xl font-bold my-2">
          <img class="w-8" [src]="item.logo" [alt]="item.type" />&nbsp;&nbsp;
          {{ item.course }}
        </h2>
        <h3 class="my-2">{{ item.courseName }}</h3>
        <a class="hover:text-blue-600 underline" [href]="item.link">{{
          item.type
        }}</a>
        <p class="my-2">{{ item.type }}</p>
        <button
          class="py-2 rounded font-medium px-5 bg-violet-950 text-white hover:outline-black hover:text-black button_pink hover:cursor-pointer"
        >
          Enroll
        </button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="text-white mx-5">
    <h1 class="flex justify-start">Explore Career Learning Paths</h1>
    <div class="bg-violet-950 w-11/12 mx-auto flex justify-between p-8">
      <div>
        <h1 class="text-2xl text-yellow-500">Career Learning Paths</h1>
        <h1 class="text-yellow-500 text-xl py-3">Explore Careers</h1>
        <p class="text-lg text-white my-5">
          Build career-relevant skills with courses from top <br />
          universities and companies
        </p>
      </div>
      <div class="sm:block hidden">
        <p class="text-yellow-400 text-lg">Find your next role</p>
        <div class="grid grid-cols-3 gap-4 mt-6">
          <button class="course_button flex justify-between items-center">
            Data Science <fa-icon [icon]="buttonArrayRight"></fa-icon>
          </button>
          <button class="course_button flex justify-between items-center">
            Agile Project Manager <fa-icon [icon]="buttonArrayRight"></fa-icon>
          </button>
          <button class="course_button flex justify-between items-center">
            Digital Marketer <fa-icon [icon]="buttonArrayRight"></fa-icon>
          </button>
          <button class="course_button flex justify-between items-center">
            Designer <fa-icon [icon]="buttonArrayRight"></fa-icon>
          </button>
          <button class="course_button flex justify-between items-center">
            Data Engineer <fa-icon [icon]="buttonArrayRight"></fa-icon>
          </button>
          <button class="course_button flex justify-between items-center">
            Network Engineer <fa-icon [icon]="buttonArrayRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-10">
  <div class="flex justify-between mx-auto gap-5  items-center w-9/12 rounded-md">
    <div class="flex hover:shadow-xl shadow ">
      <div class="pl-5">
        <h1>Microsoft</h1>
        <h1 class="text-xl font-semibold py-3">New! Microsoft Power BI Analyst Professional Certificate</h1>
        <h1>
          Gain data analytics skills and launch a new career in less than five
          months.
        </h1>
        <button  class="my-3 course_button">Learn More</button>
      </div>
      <div >
        <img
        class="w-full rounded-md"
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-promounit-images.s3.amazonaws.com/57/6a6529bcfb4aab9d2c36fb198df8d4/ID_55096_Promo-Unit_784x1096.jpg?auto=format%2Ccompress&dpr=1&w=172"
          alt="error"
        />
      </div>
    </div>
    <div class="flex hover:shadow-xl shadow">
      <div class="pl-5">
        <h1>Coursera</h1>
        <h1 class="text-xl font-semibold py-3">Accelerate business transformation</h1>
        <h1>
          With Coursera for Teams, you can train your employees with world-class
          content.
        </h1>
        <button class="my-3 course_button">Learn More</button>
      </div>
      <div >
        <img
        class="w-full rounded-md" 
          src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-promounit-images.s3.amazonaws.com/89/bf58f588c84773bd5d00d431a60a7b/MCR2021-932-PromoUnits-C4Teams-Generic-1.png?auto=format%2Ccompress&dpr=1&w=172"
          alt="error"
        />
      </div>
    </div>
  </div>
</section>
