<div class="min-h-screen flex items-center justify-center body">
  <!-- Image (hidden on small and medium screens) -->
  <div class="hidden sm:block w-1/2">
    <img
      src="https://img.freepik.com/free-vector/learning-concept-illustration_114360-3896.jpg?w=740&t=st=1693659074~exp=1693659674~hmac=f2944b80a89673e56366c4cb011d1bb29859b27bec5e976d3f6cbd354b54aa50"
      alt="Learning Image"
      class="w-full"
    />
  </div>

  <div
    class="animate__animated animate__zoomIn w-full sm:w-1/2 max-w-md mx-auto p-8 shadow-md rounded-md hover:shadow-lg col"
  >
    <h2 class="text-2xl font-semibold mb-6 text-center text-blue-950">
      Register
    </h2>
    <form [formGroup]="registerGroup" (submit)="OnSubmit()">
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-bold mb-2"
          >Username:</label
        >
        <input
          type="text"
          id="username"
          class="w-full border rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
          placeholder="Enter Username"
          formControlName="username"
        />
      </div>

      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-bold mb-2"
          >Email:</label
        >
        <input
          type="email"
          id="email"
          class="w-full border rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
          placeholder="Enter Email"
          formControlName="email"
        />
      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-700 font-bold mb-2"
          >Password:</label
        >
        <input
          type="password"
          id="password"
          class="w-full border rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
          placeholder="Enter Password"
          formControlName="password"
        />
      </div>

      <div class="mb-4">
        <label for="role" class="block text-gray-700 font-bold mb-2"
          >Role:</label
        >
        <select
          formControlName="role"
          id="role"
          class="w-full border rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-400"
        >
          <option value="" disabled selected>Select a role</option>
          <option value="student">Student</option>
          <option value="instructor">Instructor</option>
        </select>
      </div>

      <div class="w-full">
        <button
          (submit)="OnSubmit()"
          type="submit"
          class="cursor-pointer w-full justify-center text-white button_pink grayy focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center"
        >
          <svg
            aria-hidden="true"
            role="status"
            class="inline w-4 h-4 mr-3 text-white animate-spin"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            *ngIf="isloading"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="#E5E7EB"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentColor"
            />
          </svg>
          {{ isloading ? "Loading..." : "Register" }}
        </button>
      </div>
      <p class="mt-4 text-gray-600">
        <a class="text-blue-500 hover:underline" href="/login"
          ><span class="text-black">Already Registered ? </span>Login Here</a
        >
      </p>
    </form>
  </div>
</div>
