<app-instr-navbar></app-instr-navbar>
<div class="flex justify-center items-start">
  <app-loading [isloading]="isloading"></app-loading>
</div>
<br />
<br />
<br />
<br />
<section class="mt-5">
  <div class="mx-6">
    <div
      class="boxes-container grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-4"
    >
      <div
        *ngFor="let item of data"
        class="hover:shadow-lg py-6 px-3 rounded-xl shadow-md border 1px solid black cursor-pointer"
      >
        <h3 class="my-2 text-xl text-indigo-950 underline font-semibold">
          {{ item.title }}
        </h3>
        <hr />
        <h3 class="my-2 text-lg font-semibold">
          StartDate : {{ item.start_date }}
        </h3>
        <hr />
        <h3 class="my-2 text-lg font-semibold">
          EndDate : {{ item.due_date }}
        </h3>
        <hr />
        <p class="my-2 text-lg font-bold">
          Status : {{ item.is_active ? "ACTIVE" : "EXPIRED" }}
        </p>
        <hr />
        <p class="my-2">Statement : <br />{{ item.description }}</p>
        <button
          (click)="SeeSubmissions(item.id)"
          class="py-2 rounded-lg font-medium px-5 button_pink grayy button_pink hover:cursor-pointer"
        >
          see Submissions
        </button>
      </div>
    </div>
  </div>
</section>
