<app-instr-navbar></app-instr-navbar>
<div class="flex justify-center items-start my-8">
  <app-loading [isloading]="isloading"></app-loading>
</div>

<section class="mt-5">
  <div class="mx-6">
    <div
      class="boxes-container grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-4"
    >
      <div
        *ngFor="let item of data"
        class="hover:shadow-lg py-6 px-3 rounded-xl shadow-md border 1px solid black cursor-pointer"
      >
        <div class="common-border rounded-md">
          <img
            class="w-full rounded-md"
            [src]="item.image"
            [alt]="item.title"
          />
        </div>
        <!-- <h2 class="flex items-center text-xl font-bold my-2">
            <img class="w-8" [src]="item.logo" [alt]="item.title" />&nbsp;&nbsp;
            {{ item.course }}
          </h2> -->
        <h3 class="my-2 text-lg font-semibold">{{ item.title }}</h3>
        <!-- <a class="hover:text-blue-600 underline" [href]="item.link">{{
            item.type
          }}</a> -->
        <p class="my-2">{{ item.description }}</p>

        <button
          (click)="SeeAssignment(item.id)"
          class="py-2 rounded font-medium px-5 bg-violet-950 text-white hover:outline-black hover:text-black button_pink hover:cursor-pointer"
        >
          See Assignments
        </button>
      </div>
    </div>
  </div>
</section>
